#root {
  background-color: rgb(28, 166, 225);
  color: black;
 
  
}
.header{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px;
 

}
/* Center the cards */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;        /* space between cards */
  min-height: 200px;
}

/* Style each card */
.card {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  width: 200px;
  text-align: center;
  
}
.fooetr{
  margin-top: 50px;
}
